*.idea

.history

.vscode

package/text2story/readers/__pycache__/

package/text2story/annotators/SPARKNLP/__pycache__/

package/text2story/annotators/ALLENNLP/__pycache__/

package/text2story/annotators/CUSTOMPT/__pycache__/

package/text2story/annotators/__pycache__/

package/text2story/__pycache__/

package/text2story/core/__pycache__/

microservice/package/text2story/annotators/__pycache__/

microservice/package/text2story/annotators/SPARKNLP/__pycache__/

microservice/package/text2story/annotators/SPACY/__pycache__/

microservice/package/text2story/annotators/NLTK/__pycache__/

microservice/brat2viz/brat2drs/text_2_story_new/

microservice/brat2viz/brat2drs/brat_ann_files/

elasticsearch

server/frontend/package-lock.json